/*An animation copied from styles.css*/
@keyframes pop-fade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.onboarding-display {
    width: 100vw;
    height: 100vh;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-gradient));
    transition: opacity 1s ease;
}

.onboarding-heading {
    font-family: 'Archivo Black';
    font-size: 15rem;
    line-height: 200px;
    user-select: none;
    animation: pop-fade 1s;
}

.onboarding-para {
    display: flex;
    text-align: center;
    font-family: 'Funnel Display';
    font-size: 2rem;
    user-select: none;
    animation: pop-fade 1.5s;
}

.onboarding-input {
    background-color: var(--bg-color);
    outline: none;
    border: 2px solid transparent;
    font-size: 1.5rem;
    font-family: 'Funnel Display';
    border-radius: 40px;
    padding: 5px 20px;
    color: var(--color);
    margin: 30px 0px;
    font-weight: 100;
    letter-spacing: 1px;
    width: 40%;
    transition: border 0.2s;
    animation: pop-fade 1.5s;
}

.onboarding-input:focus {
    border: 2px solid var(--color);
}

.onboarding-continue {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    outline: none;
    color: var(--color);
    font-family: 'Funnel Display';
    cursor: pointer;
    user-select: none;
    letter-spacing: 1px;
    transition: border 0.2s, opacity 0.1s;
    animation: pop-fade 1.5s;
}

.onboarding-continue:hover {
    border: 1px solid var(--color);
}

.onboarding-continue:active {
    opacity: 70%;
}