* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--bg-color);
    color: var(--color);
    overflow: hidden;
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-gradient));
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-gradient);
    opacity: 10%;
    border-radius: 10px;
}

::selection {
    color: var(--bg-color);
    background: var(--color);
}

a {
    text-decoration: none;
    color: inherit;
}

/*Animations*/
@keyframes pop-fade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes settings-fade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 0.5;}
}

/*Settings Button*/
.settings-button {
    color: inherit;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    margin: 10px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 50%;

    transition: opacity 0.5s, transform 1s;

    animation: settings-fade 2.5s;
}

.settings-button:hover {
    opacity: 100%;
    transform: rotate(90deg);
}
/*Greeting Container*/
.greeting-container {
    padding: 10px 10px;
    width: max-content;
    display: flex;
    user-select: none;
    flex-direction: column;
    margin: 50px 10px;

    animation: pop-fade 1s;
}

.greeting {
    font-size: 2rem;
    font-family: Funnel Display;
}

.name {
    font-size: 4rem;
    font-family: Archivo Black;
}

/*Link Container*/
.link-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
    width: max-content;
    user-select: none;

    animation: pop-fade 1.5s;
}

.add-link-button {
    font-size: 1rem;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 2px 2px;
    cursor: pointer;
    outline: none;
    border: 2px solid var(--bg-color);
    z-index: 1;
    display: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.add-link-button:hover {
    background-color: var(--bg-color);
    color: var(--color);
    border-color: var(--color);
}

.link-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 10px 10px;
    position: relative;
    transition: transform 0.2s;
    cursor: pointer;
}

.link-element:hover .add-link-button {
    display: flex;
}

.link-name {
    font-size: 1rem;
    padding: 10px 0px;
    font-family: Funnel Display;
    cursor: pointer;
}

.link-element:hover {
    transform: translateY(-5%);
}

.url-image {
    height: 50px;
    width: 50px;
}


/*Quote Container*/
.quote-container {
    width: max-content;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);

    animation: pop-fade 2s;
}

.quote {
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: quintessential;
}

.author {
    justify-content: center;
    text-align: center;
    font-family: Funnel Display;
}

/*Clock and calendar Container*/
.clock-calendar-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: max-content;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 50px;

    animation: pop-fade 1s;
}

.clock {
    font-size: 7rem;
    user-select: none;
    -moz-user-select: none;
    font-family: Archivo Black;
}

.calendar {
    display: flex;
    justify-content: right;
    text-align: center;
    font-family: Funnel Display;
    font-size: 1.2rem;
    letter-spacing: 2px;
    user-select: none;
    -moz-user-select: none;
}

/*TO DO LIST*/
/*TO DO LIST PROMPT*/
.todo-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 10px 10px;
    transform: translate(-50%,-50%);
    background-color: var(--bg-color);
    height: 150px;
    width: 400px;
    z-index: 2;
    display: none;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border: 1px solid var(--color);
}

.name-display {
    font-family: Funnel Display;
    font-size: 1.4rem;
    user-select: none;
}

.todo-input {
    font-size: 1.5rem;
    padding: 5px 5px;
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 2px solid var(--color);
    outline: none;
    color: var(--color);
    font-family: Funnel Display;
    text-decoration: none;
    caret-color: var(--color);
    opacity: 50%;
    transition: opacity 0.2s;
}

.todo-input:focus {
    opacity: 100%;
}

.save-cancel-container {
    display: flex;
    padding: 10px 0px;
}

.cancel {
    border: 2px solid var(--color);
    background-color: transparent;
    color: var(--color);
    font-family: Funnel Display;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: color 0.2s;
    position: relative;
    overflow: hidden;
}

.cancel::before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: var(--color);
    transition: height 0.2s;
    z-index: -1;
}

.cancel:hover::before {
    height: 100%;
}

.cancel:hover {
    color: var(--bg-color);
}

.save {
    position: relative;
    margin-left: auto;
    border: 1px solid var(--color);
    background-color: var(--color);
    color: var(--bg-color);
    font-family: Funnel Display;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: opacity 0.2s;
}

.save:hover {
    opacity: 70%;
}

.todo-container {
    overflow-x: hidden;
    text-wrap: wrap;
    user-select: none;
    position: absolute;
    padding: 10px 10px;
    width: 200px;
    height: 200px;
    left: 20px;
    border-radius: 10px;
    overflow-y: scroll;

    animation: pop-fade 1.5s;

}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

.todo-name {
    width: 70%;
    font-family: Funnel Display;
    font-size: 1rem;
    letter-spacing: 1px;
}

.add-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: transparent;
    color: inherit;
    border: none;
}

.add-todo:hover {
    transform: rotate(90deg);
}

.lists-container {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Funnel Display;
    user-select: none;
}

.list {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.list:hover > input, .list:hover > label {
    opacity: 70%;
}

.list > input {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--color);
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease, opacity 0.2s;
}

.list > input:checked {
    background-color: var(--color);
}

.list > label {
    cursor: pointer;
   transition: opacity 0.2s; 
   display: flex;
   word-wrap: break-word;
   width: 80%;
   overflow: hidden;
}