:root {
    /*LIGHT MODE > PRIM: #E0E0E0 GRAD: #FFF SEC: #1F1F1F PROMPT:#eeeeee*/
    /*DARK MODE > PRIM: #1F1F1F GRAD: #000 SEC: #E0E0E0 PROMPT:#111111*/
    
    --bg-color: #1f1f1f;
    --bg-gradient: #000;
    --color: #e0e0e0;
    --prompt-color: #111;
}

/**Font faces*/
@font-face {
    font-family: 'Archivo Black';
    src: url('../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Quintessential';
    src: url('../assets/fonts/Quintessential/Quintessential-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Funnel Display';
    src: url('../assets/fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}